stock-watcher \
-J-Djava.security.egd=file:/dev/./urandom \
-J-XX:OnOutOfMemoryError=/srv/jvmoutofmemerror.sh \
-Dplay.http.secret.key='changeme' \
-Dconfig.resource=conf/application.conf >> /var/log/neptune-app/application.log 2>&1

